<!doctype html>
<html>
<head>
    <title>Flask App</title>
</head>
<body>

{% block content %}

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<a href="/key=a">Back to the Beginning</a><br /><a href="/restart">Restart Story</a>

<center>
<table border='1' cellpadding='1' cellspacing='1' width='80%'>
    <tr>
        <td>&nbsp;</td>
        <td name='a'>
            {% for entry in entries if entry.key == [session.key, 'a']|join %}
                <a href='/key={{ entry.key }}'>{{ entry.text|safe }}</a>
            {% else %}
                <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
                    <input type="hidden" name="pos" value="a">
                    <textarea name="text" rows=3 cols=30></textarea><br />
                    <input type="submit" value="Submit">
                </form>
            {% endfor %}
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td name="b">
            {% for entry in entries if entry.key == [session.key, 'b']|join %}
                <a href='/key={{ entry.key }}'>{{ entry.text|safe }}</a>
            {% else %}
                <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
                    <input type="hidden" name="pos" value="b">
                    <textarea name="text" rows=3 cols=30></textarea><br />
                    <input type="submit" value="Submit">
                </form>
            {% endfor %}
        </td>
        <td name="no_link">
            {% for entry in entries if entry.key == session.key %}
                {{ entry.text|safe }}
            {% endfor %}
        </td>
        <td name="c">
            {% for entry in entries if entry.key == [session.key, 'c']|join %}
                <a href='/key={{ entry.key }}'>{{ entry.text|safe }}</a>
            {% else %}
                <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
                    <input type="hidden" name="pos" value="c">
                    <textarea name="text" rows=3 cols=30></textarea><br />
                    <input type="submit" value="Submit">
                </form>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td name="d">
            {% for entry in entries if entry.key == [session.key, 'd']|join %}
                <a href='/key={{ entry.key }}'>{{ entry.text|safe }}</a>
            {% else %}
                <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
                    <input type="hidden" name="pos" value="d">
                    <textarea name="text" rows=3 cols=30></textarea><br />
                    <input type="submit" value="Submit">
                </form>
            {% endfor %}
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</center>

{% endblock %}

</body>
</html>